<!DOCTYPE html>
{% load static %}
<html> 
  <head>
    <meta charset="utf-8">
    <title>Django Level 2</title> 
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}" />
  </head>
 
  <body> 
      <h1> Hi Welcome to django level 2</h1>
      <h2> Here are your User Records</h2>
      <div class="djangotwo">
        {% if user_data %}
          {% for acc in user_data %}
          <ol>
            <li> User Info </li>
              <ul>First Name: {{ acc.first_name }}</ul>
              <ul>Last Name: {{ acc.last_name }}</ul>
              <ul>Email: {{ acc.email }}</ul>
          </ol>
          
          {% endfor %}
        {% else %}
        <p>No access records found.</p>
        {% endif %}
      </div>
  </body>